@import '../../../styles/includes/placeholders';

.list_item {
  @extend %list_item;

  div {
    @include flex($flex-flow: column nowrap, $justify: space-around);
    position: relative;
    padding: 1rem;
    height: 100%;

    a {
      @include flex(center, space-between, column nowrap);
    }

    img {
      width: 7rem;
    }
  }
}

.number {
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.type {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1rem;
}
