@charset "UTF-8";

@font-face {
  font-family: 'pokemon';
  src: url('/fonts/pokemon/pokemon.eot');
  src: url('/fonts/pokemon/pokemon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pokemon/pokemon.woff') format('woff'),
    url('/fonts/pokemon/pokemon.ttf') format('truetype'),
    url('/fonts/pokemon/pokemon.svg#pokemon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('/fonts/pokemon-solid/pokemonsolid.eot?') format('eot'),
    url('/fonts/pokemon-solid/pokemonsolid.woff') format('woff'),
    url('/fonts/pokemon-solid/pokemonsolid.ttf') format('truetype'),
    url('/fonts/pokemon-solid/pokemonsolid.svg#PokemonSolidNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'pokemon' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='pika-']:before,
[class*=' pika-']:before {
  font-family: 'pokemon' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pika-volume-up:before {
  content: '\e100';
}
.pika-volume-off:before {
  content: '\e101';
}
.pika-step-start:before {
  content: '\e102';
}
.pika-step-end:before {
  content: '\e103';
}
.pika-search:before {
  content: '\e104';
}
