@import './variables';

%list {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 4rem;

  @include sm {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

%list_item {
  border-radius: 0.25rem;
  overflow: hidden;
  max-width: 25rem;
  width: 100%;

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
