@import '../../includes/variables';
@import '../../includes/placeholders';

.list {
  @extend %list;
  min-height: calc(100vh - ($header-height + $footer-height + 10rem));
}

.filter_form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  place-items: start;
  margin: auto;
  padding-block-start: 2rem;
  gap: 1rem;
}
